---
title: Nuestra joven Historia
hero: Nuestra joven Historia
---

<p class="editor-link" style="text-align: center; position: relative;
    top: -185px;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Empresa Tucumana joven. </a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
			<div class="name">{{ person.name }}</div>
		</li>
	{% endfor %}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="editable">Servicio 24 horas</h3>
		<p class="editable">Enviamos a toda hora del día. Nuestro servicio es infalible.</p>
	</div>
	<div>
		<h3 class="editable">Rápido y Fácil</h3>
		<p class="editable">Rápido y fácil llega al domicilio indicado tu presente..</p>
	</div>
	<div>
		<h3 class="editable">Primeros en la provincia</h3>
		<p class="editable">Al ser pioneros nos destacamos por eso.</p>
	</div>
</div>
