---
layout: default
---
<div class="content">
	<section class="page">
		<div class="container">
			<div class="product-container">
				{% include product-styles.html product=page %}
				<div class="product-details" id="add">
					<h3>{{ page.name }}</h3>
					{{ page.description_markdown | markdownify }}

					<h4>${{ page.price }}</h4>
					<a mp-mode="dftl" href="https://www.mercadopago.com/mla/checkout/start?pref_id=323111352-9302d8f1-ab7d-41ae-9200-81ec3bb78872" name="MP-payButton" class='blue-ar-l-rn-none'>Pagar con Mercadopago</a>
<script type="text/javascript">
(function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
</script>
			<form action="https://formspree.io/avilaroman@gmail.com"
      method="POST">
    <input type="text" name="Nombre del Destinatario">
    <input type="text" name="Dirección del Destinatario">				
    <input type="email" name="_replyto">
    <input type="text" name="Fecha y hora" placeholder="Ingresa Fecha y hora del envío" />
    <input type="date" name="bday">
    <input type="text" name="Mensaje en la tarjeta:" placeholder="Ingresa el mensaje" />
    <input type="hidden" name="_next" value="https://www.mercadopago.com/mla/checkout/start?pref_id=323111352-9302d8f1-ab7d-41ae-9200-81ec3bb78872" />
    <input type="hidden" name="_subject" value="Florex -> Nueva Compra" />
				<input type="hidden" name="_language" value="es" />
				<input type="submit" value="Enviar">
</form>		
				</div>
			</div>
		</div>
	</section>
</div>

<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" data-api-key="{{ site.api_key }}" id="snipcart"></script>
<link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" rel="stylesheet" type="text/css" />
